body{
   background-color: #f5d9d5;
   font-family: "Nunito", sans-serif;
}

.blurb h2{
    color: red;
    font-weight: 100;
    font-size: 2.5rem;
}
.blurb p{
    color: #F498b8;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}
#mainNavbar{
    font-size: 1.5rem;
    font-weight: 100;
}

#mainNavbar .nav-link{
    color: white;
}
#mainNavbar .nav-link:hover{
    color: #EA1C2C;
}

#mainNavbar .navbar-brand{
    color: #EA1C2C;
}

#GROUP span{
    color: red;
}

#GROUP h1 {
    font-weight: 100;
    font-size: 4rem;
}
.sec {
    margin-top: 100px;
    margin-bottom: 100px;
}
.image-fluid{
    max-height: 800px ;
    max-width: 800px;
    width: 100%;
    height: 100%;
}
.navbar.scrolled {
    background: violet;
    transition: background 500ms;
}
@media (max-width: 1200px){
    #GROUP h1 {
        font-weight: 100;
        font-size: 3rem;
    }
}